<!-- <app-page-header></app-page-header>

<router-outlet></router-outlet> -->

<goa-one-column-layout>
    <section slot="header">
        <goa-microsite-header type="alpha" version="UAT" />
        <goa-app-header url="/" heading="Land Titles Office">
        <a href="/login">Sign in</a>
        </goa-app-header>
    </section>
    <goa-page-block width="704px">
        <!-- Insert custom content here -->
        <app-navigation-menu></app-navigation-menu>
    </goa-page-block>
    <section slot="footer">
        <goa-app-footer />
    </section>
</goa-one-column-layout>